.DS_Store
bin/*
!bin/.gitkeep
build/
benchmark*
wrong/
video/
tests/test_density
tests/test_force
tests/test_init
tests/test_kernel
tests/test_integrator
*.csv
*.png
*.gif
*.mp4
*.h5
.vscode
*old*
__pycache__/
*.o
grid_solver/bin/*
*easy_plot*
